/*tic tac toe grid*/
body {
    background-color: #1b263b;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #e0e1dd;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

td {
    border: 2px solid #e0e1dd;
    height: 100px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #e0e1dd;
    font-size: 50px;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    position: absolute;
    left: 50%;
    margin-left: -155px;
    top: 100px;
}

#btn {
    display: block;
    margin: 1em auto;
    height: 2em;
    font-size: 1rem;
    background-color: darkgrey;
    border-color: rgb(170, 170, 170);
    border-radius: 10px;
    min-width: 125px;
    position: absolute;
    top: 450px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.endgame {
    display: none;
    width: 500px;
    height: 310px;
    top: 50px;
    position: absolute;
    left: 50%;
    margin-left: -250px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    border-radius: 1px;
    color: rgb(255, 255, 255);
    font-size: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}