body {
    background-color: #1b263b;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #e0e1dd;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    position: relative;
}

h1 {
    margin-bottom: 0;
}

#scoreboard {
    margin-bottom: 20px;
}

.score {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    margin-top: 20px;
    border: 5px;
    border-color: white;
}

td {
    border: 2px solid #e0e1dd;
    height: 100px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #e0e1dd;
    font-size: 50px;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
    position: relative;
}

#btn {
    display: block;
    margin: 1em auto;
    height: 2em;
    font-size: 1rem;
    background-color: darkgrey;
    border-color: rgb(170, 170, 170);
    border-radius: 10px;
    min-width: 125px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.endgame {
    display: none;
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    z-index: 1;
    width: 80%;
    max-width: 310px;
    height: 60%;
    max-height: 310px;
    overflow: auto;
    padding: 60px; /* Combine padding into a shorthand property */
    box-sizing: border-box;
}
