/*tic tac toe grid*/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

td {
    border: 2px solid #333;
    height: 100px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    position: absolute;
    left: 50%;
    margin-left: -155px;
    top: 50px;
}

table tr:first-child td {
    border-top: 0;
}

table tr:last-child td {
    border-bottom: 0;
}

table td:first-child {
    border-left: 0;
}

table td:last-child {
    border-right: 0;
}

/*restart button*/
#btn {
    display: block;
    margin: 1em auto;
    height: 2em;
    font-size: 1rem;
    background-color: darkgrey;
    border-color: rgb(170, 170, 170);
    border-radius: 10px;
    min-width: 125px;
    position: absolute;
    bottom: 30%;
}

.endgame {
    display: none;
    width: 200px;
    top: 120px;
    background-color: rgba(205, 133, 63, 0.8);
    position: absolute;
    left: 50%;
    margin-left: -100px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-size: 2em;
}